<table  class="table table-stripped mt-1 ms-1 table-striped">
    <thead class="bg-secondary h-50">
        <th class="text-white">  ID</th>
        <th class="text-white">Description</th>
        <th class="text-white">Unit Cost</th>
        <th class="text-white">Unit Price</th>
        <th class="text-white">Total Sales</th>
        <th class="text-white">Total Quantity Sold</th>
        <th class="text-white">Quantity in Inventory</th>
        <th class="text-white">Delete Item</th>

    </thead>

    <tbody>
        <tr *ngFor="let item of ITEMS">
            <td> <a > <button type="button" class="btn btn-outline-primary">  {{item.id}}  </button> </a> </td>
            <td>{{item.description}}</td>
            <td>{{item.unit_cost}}</td>
            <td>{{item.unit_price}}</td>
            <td>{{item.total_sales}}</td>
            <td>{{item.total_qty_sold}}</td>
            <td>{{item.inventory}}</td>
            
            <td class="border-left-1">
                
                    |
                <button class="text-danger bg-white" style="border: none;" (click)="deleteItem(item)">DELETE</button>
                    |
            
            </td>
            
        </tr>

    </tbody>

    


</table>


<div class="position-relative">
    <div class="position-absolute top-10 start-50 translate-middle mt-3">
        <a routerLink="/addItem">
            <button type="button" class="btn btn-outline-primary">  Add Items </button>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button class="btn btn-success" (click)="generateExcel()">Export to Excel</button>
        </div>
    </div>