<div class="container">

    <div class="text-center mt-5"><h1>ADD NEW USER</h1></div>
    
    <div style="width: 50%; margin: auto">
        <form [formGroup]="addform" novalidate class="form" #myForm="ngForm">
            
            
            <div class="row mt-2">
                
                <div class="col-md-6 ">USERNAME</div>  
                <div class="col-md-6 "><input type="text" class="form-control" name="user_name" formControlName="user_name"></div>
                
            </div>
           
            <div class="row mt-2">
                <div class="col-md-6 ">FULL NAME</div>  
                <div class="col-md-6 "><input type="text" class="form-control" name="full_name" formControlName="full_name"></div>
                
            </div>
           
            
            <div class="row mt-2">
                <div class="col-md-6 ">Password</div>  
                <div class="col-md-6 "><input type="password" name="password" class="form-control" formControlName="password"></div>
                
            </div>
            
            <div class="row">
                <div class="col-md-6 ">Role</div>  
                <div class="col-md-6 text-center">
                    Manager <input  type="radio" value="manager" name="role" formControlName="role" >   
                    &#160;&#160;Salesman <input type="radio" value="salesman" name="role" formControlName="role">
                </div>
                
            </div>
            

        

            <div class="row mt-2">
                
                <div class="col-md-12 text-center"><button class="btn btn-primary" (click)="onSubmit()" type="submit">ADD STUDENT</button></div>
                  
                
                
            </div>


        </form>
    </div>
    </div>
        
    